POSTGRES_USER=norn
POSTGRES_PASSWORD=norn
POSTGRES_DB=norn
POSTGRES_PORT=5433

VALKEY_PORT=6381

GARAGE_S3_PORT=3900
GARAGE_ADMIN_PORT=3903
GARAGE_DEFAULT_BUCKET=norn-local
GARAGE_DEFAULT_ACCESS_KEY=GKe2a8bf08d27aa0e02c0e82f1
GARAGE_DEFAULT_SECRET_KEY=ee84b5e394e4bfe86282dfc0cfd7f523ae1044e48a836a922288a1b784398ba2
GARAGE_RPC_SECRET=968fb078df24d511d38c9ffb8f80e69b61c019a2b73e54e97524dc745bae94c3
GARAGE_ADMIN_TOKEN=yiVDwMSiIov7XxoTzStLIpudmGR9tCopq18YwXfzdm0=
GARAGE_METRICS_TOKEN=yAUsyon89+Rgo/pvTDwamqcd2njZ/rWRrYOZMoBRRfM=

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

NORN_APP_ENV=development
NORN_APP_LOG_LEVEL=debug
NORN_APP_BASE_URL=http://localhost:5173
NORN_POSTGRES_DSN=postgres://norn:norn@127.0.0.1:5433/norn?sslmode=disable
NORN_VALKEY_ADDR=127.0.0.1:6381
NORN_ASYNQ_ADDR=127.0.0.1:6381
NORN_SMTP_HOST=127.0.0.1
NORN_SMTP_PORT=1025
NORN_SMTP_FROM_ADDRESS=no-reply@norn.local
NORN_PASSWORD_BREACH_CHECK_ENABLED=false
NORN_STORAGE_ENDPOINT=http://127.0.0.1:3900
NORN_STORAGE_BUCKET=norn-local
NORN_STORAGE_ACCESS_KEY_ID=GKe2a8bf08d27aa0e02c0e82f1
NORN_STORAGE_SECRET_ACCESS_KEY=ee84b5e394e4bfe86282dfc0cfd7f523ae1044e48a836a922288a1b784398ba2
NORN_GEOIP_DATABASE_PATH=
